@import url('https://fonts.cdnfonts.com/css/atari');
body{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color:black;
    color: white;
    font-family: 'Atari', sans-serif;
                                                
}
.punteggio{
    position: absolute;
    top: 0px;
    right: 10%;
    font-size:xx-large;
}

h1{
    
    color: white;
    height: 30px;
}
.container{
    position: relative;
    width: 80%;
    height: 600px;
    background-color: aqua;
}
#alberi{
    display: inline;
    width: 80%;
    z-index: 2;
    position: absolute;
    top: 300px;
    height: 400px;
    pointer-events: none;
    
}


#benvenuto{
    z-index: 3;
    position: absolute;
    margin-top: 200px;
    border: 3px solid black;
    padding: 40px;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(40, 181, 40);
    font-size: larger;
    
}

